html{
    font-family:"Noto Sans TC", sans-serif;
    font-optical-sizing:auto;
    font-weight:<weight>;
    font-style:normal;
    background-color:#F5F5F5;
  }

/*開電腦尺寸，關手機尺寸*/
.desktop{
  display:block;
}  
.mobile{
  display:none;
}


body{
  width:1024px;
  margin:0 auto; 
  background-color: #FFFFFF;
  align-content: middle;
}

/*上方標題*/
.headline__title{
  font-size: 40px;  
  text-align: right;
  margin: 0;
  padding: 10px 10px 0 0;
  text-shadow: 3px 3px 1px #F5F5F5;
}

.headline__name{
  font-size:16px;
  text-align: right;
  margin:0;
  padding: 0 10px 10px 0;
}

/*下方內容區塊*/
.card--imgright{
  display: flex;
  margin:0;
  padding: 20px 0px 10px 10px;
}
.card--imgleft{
  display: flex;
  margin:0;
  padding: 20px 10px 10px 0px;
}

.card__title{
  font-size:24px;
  font-weight: 600;
  writing-mode: vertical-lr;
  text-align: left;
  margin:0;
  padding: 10px 10px;
  letter-spacing: 8px;
  line-height: 30px;
}
.card__line{
  border-left:thin solid black;
  height: 300px;
  padding: 10px 0px 10px 0px;
}
.card__content{
  flex:auto;
  font-size:18px;
  line-height: 1.2;
  letter-spacing: 1px;
  margin: 0;
  padding: 10px 10px;
}

img{
  width:330px;
  height: auto;
}

p,
li{
  font-size:18px;
  line-height: 1.2;
  letter-spacing: 1px;
  margin: 0;
  padding: 0px 0;
}

@media(max-width:1024px){
  /*螢幕寬度小於1024px,套用這組CSS*/
  .desktop{
  display:none;
  }
  .mobile{
  display:block;
  }
  
  /*mobile內容部分*/
  body{
    width:auto;
    margin:0 auto; 
    background-color: #FFFFFF;
    align-content: middle;
  }
  
  .card--imgright{
    flex-wrap: wrap;
    margin:0;
    padding: 20px 0px 10px 10px;
  }
  .card--imgleft{
    flex-wrap: wrap;
    margin:0;
    padding: 20px 10px 10px 0px;
  }

  .card__mobiletop{
    display:flex;
    width: 1024px;
    justify-content: space-between;
    margin:0;
    padding: 20px 0px 10px 0px;
  }

  .card__mobiletop__titleandline{
    display:flex;
  }
  
  .card__content{
    width:auto;
    font-size:18px;
    line-height: 1.2;
    letter-spacing: 1px;
    margin: 0;
    padding: 10px 10px 10px 20px;
  }

  img{
    max-width:auto;
    height: auto;
  }
    @media(max-width:480px){
      /*螢幕寬度小於480px,套用這組CSS*/
      body{
        width: 400px;
        margin:0 auto; 
        align-content: middle;
      }

      img{
        min-width 300px;
        height: auto;
      }

    }
}

