html{
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    background-color: #F5F5F5;
  }

body{
  width:1024px;
  margin:0 auto; 
  background-color: #FFFFFF;
  align-content: middle;
}

h1{
  font-size: 40px;  
  text-align: right;
  margin: 0;
  padding: 10px 10px 0 0;
  text-shadow: 3px 3px 1px #F5F5F5;
}

.name{
  font-size:16px;
  text-align: right;
  margin:0;
  padding: 0 10px 10px 0;
}

.section_1{
  display: flex;
  margin:0;
  padding: 20px 0px 10px 10px;
}

.section_2{
  display: flex;
  margin:0;
  padding: 20px 10px 10px 0px;
}

.title{
  font-size:24px;
  font-weight: 600;
  writing-mode: vertical-lr;
  text-align: left;
  margin:0;
  padding: 10px 10px;
  letter-spacing: 8px;
  line-height: 30px;
}

.verticalLine{
  border-left:thin solid black;
  height: 300px;
}


.content{
  flex:auto;
  font-size:18px;
  line-height: 1.2;
  letter-spacing: 1px;
  margin: 0;
  padding: 10px 50px 10px 20px;
}

img{
  flex:auto;
}

/*
.imgStyle{
  background: url('../images/imgpsh_fullsize_anim\ 2.png') no-repeat;
  background-size: 600px 600px;
  align-items: right;
  margin:0 auto;
  padding: 10px 10px 10px 10px;
}
*/

p,
li{
  font-size:18px;
  line-height: 1.2;
  letter-spacing: 1px;
  margin: 0;
  padding: 0px 0;
}
*/